asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
dj-database-url==3.0.1
Django==4.2.16
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
whitenoise[brotli]==6.7.0
pillow==11.3.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
python-dotenv==1.0.1
google-genai>=1.0.0
numpy>=1.26.0
sentence-transformers>=2.2.0
torch>=2.3.0